@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.banner-section {
  height: 100vh;
  margin: 0 auto;
  background: #263739;
  display: flex;
  width: 100%;
  /* justify-content: center; */
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding: 12px;

  .cta {
    font-family: 'Homemade Apple', cursive !important;
    font-size: 80px;
    border: 10px solid white;
    padding: 40px;
  }

  h2 {
    font-size: 48px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 140px;
  }

}

.banner-section h1 {
  font-size: 60px;
}

.section {
  min-height: 100vh;
  padding: 12px;

}

.section-2 {
  background: #303030;
  color: #fff;
  display: flex;
  padding-top: 64px;

  img {
    height: 400px;
    width: 280px;
    border: 20px solid white;
    margin-right: 100px;
    margin-top: 40px;
  }
}

.section-2 {
  padding-left: 40px;

  h1 {
    font-family: 'Homemade Apple', cursive !important;
    font-size: 72px;
  }

  p {
    width: 70%;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    text-align: justify;


    span {
      margin-top: 16px;
      line-height: 20px;
    }
  }
}

.section-3,
.section-4 {
  background: #263739;
  color: #fff;

}

.section-3 {
  position: relative;
  border-bottom: 1px solid #CFB997;
  justify-content: center;
  overflow: hidden;
}

.section-3-card {
  height: 160px;
  width: 580px;
  background: #3030308f;
  border-radius: 12px;
  padding: 20px;
  margin: 16px;

}

.section-3 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.section-4 {
  margin: 0 auto;
  display: flex;
  width: 100%;
  /* justify-content: center; */
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding: 40px;

  p {
    width: 100%;
    font-size: 44px;
    text-align: center;

    span {
      color: #FAD6A5;
    }
  }
}

.section-5 {
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 80%;

  p {
    line-height: 36px;
  }


  h2 {
    font-family: 'Homemade Apple', cursive !important;
    font-size: 72px;
    color: #FAD6A5;
  }

  color: #121212;
}

.card1 {
  transform: translate(50px, 0px);
}

.card2 {
  transform: translate(-100px, 00px);
}

.card3 {
  transform: translate(-250px, 0px);
}

.golden {
  color: #E5BA73;
}

.services-section {
  background: #FAF8F1;
  padding: 40px;
  color: #121212;
  padding: 40px;
  display: flex;
  justify-content: space-between;

  .services-section-content {
    padding-right: 60px;

    h1 {
      margin-bottom: 32px;
    }

    img {
      opacity: 0.6;
    }

    span {
      font-weight: 700;
      font-size: 1.1rem;
    }

    p {
      text-align: justify;
      line-height: 32px;
    }
  }


  h1 {
    font-size: 48px;
  }

  img {
    height: 600px;
  }


}

.services-wrap {
  ul {
    padding-left: 0;
    line-height: 56px;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 40px;

    *li {
      padding-bottom: 10px;
      padding-left: 0;
    }
  }
}


@media only screen and (max-width: 1024px) {

  .card1,
  .card2,
  .card3 {
    transform: translate(0px, 0px);
    width: 80%;
    height: 230px;
  }

  .services-section {
    flex-direction: column;
  }

  .section-2 p {
    width: 100%;
  }

  .section-3 {
    padding: 12px;

    .section-3-card {
      margin: 0;
      margin-bottom: 16px;
    }
  }

}

.full-image-section {
  background: url(./images/canvas.png);
  background-position: center;
  position: relative;

  p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    background: #3030304b;
    height: 150px;
    width: 600px;
    position: absolute;
    right: 30px;
    padding: 10px;
    border: 10px solid #CFB997;
    top: 250px;

  }
}

.social-section {
  // background-image: url(https://images.unsplash.com/photo-1541637593725-923467404d17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-image: url(https://images.unsplash.com/photo-1612676239016-41e2c92b8e06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  display: flex;
  flex-direction: row;
  position: relative;
}

.contact-section {
  background: #263739;
  padding: 40px;


  .contact-img-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 400px;
      width: 70%;
      margin-top: -100px;
    }
  }
}

.contact-section-wrap {
  display: flex;
  flex-direction: row;
  // border: 1px solid #fff;
  color: #fff;
  padding: 20px;


  form {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  img {
    width: 300px;
    height: 300px;
    border: 20px solid #fff;
    border-radius: 30px;
  }

  section {
    button {
      background-color: #0ffc7eb5;
      border: none;
      width: 40%;
      margin-top: 40px;
    }

    h1 {
      font-size: 64px;
    }
  }
}

.cta-social {
  padding: 20px;
  height: 200px;
  width: 500px;
  background: #faf8f128;
  font-size: 32px;
  border-radius: 12px;
  margin-top: 64px;

}

.social-media-icons {
  background-color: #b0f588a5;
  padding: 20px;
  display: flex;
  width: 300px;
  height: 72px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 6px;

  p {
    padding: 10px;
    height: 30px;
    width: 120px;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
  }
}

.tetimonial-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 64px;
    margin-top: 40px;
    margin-bottom: 40px;

  }
}

.social-icons-wrap {
  display: flex;
  gap: 4px;

  // div {
  //   // margin-right: 4px;
  //   display: flex;
  //   gap: 2px;
  // }

}

.carousel-caption {
  height: 500px;
}

.carousel-text {
  font-size: 28px;
  line-height: 40px;
}

.star1 {
  position: absolute;
  left: -100px;
  top: 0;
}

.star2 {
  position: absolute;
  right: -100px;
  bottom: 0;
}

#emailHelp {
  color: #fff !important;
  background-position: center;
}